/*can't use Gotham narrow.*/
/*cant use Knockout*/
/*can't use Sentinel. Georgia instead*/


@import url(http://fonts.googleapis.com/css?family=Montserrat:700,400);
@font-face {
    font-family: Gotham-Light;
    src: url(../fonts/Gotham-Light.otf);
}
@font-face {
    font-family: Gotham;
    src: url(../fonts/Gotham-Medium.otf);
}
@font-face {
    font-family: Knockout;
    src: url(../fonts/Knockout.otf);
}


/*standards*/
body{
  font-family:'Georgia', 'serif';
  line-height:29px;
  font-size:16px;
}
h1{
  font-size:30px;
  font-family:'Gotham-Medium', 'Montserrat-Bold', 'sans-serif';
}
input{
  border:none;
}
hr{
  color:rgb(153, 153, 153);
  display: block;
  width:600px;
  border-width: 1px;
}
br{
  line-height:11px;
}
th{
  width:230px;
}
.max-width{
  max-width:730px;
}
.block{
  display:block;
}
.inline{
  display:inline;
}
.inline-block{
  display:inline-block;
}
.relative{
  position:relative;
}
.absolute{
  position:absolute;
}


/*text edits*/
.byline{
  text-transform:uppercase;
  color:rgb(153, 153, 153); /*gray*/
  font-size:12px;
  font-family:'Montserrat', 'sans-serif';

}

/*nav*/

.navbar, .nav{
  background-color:rgb(224, 224, 224);
  font-weight:bold;
}

.navbar-nav > li > a{
  color:rgb(109, 138, 196) !important;
}
.navbar-nav > li > a:hover{
  color:rgb(188, 202, 229) !important;
}

#logo{
  margin:15px;
  line-height:14px;
  max-width:100%;
  height:20.3px;
  vertical-align:baseline;
  width:61px;
float:left;
}

/*buttons*/
.picwid{
  height:200px;
  width:150px;
  padding:20px;
  color:transparent;
}
.switch{
  /*margin-bottom:30px;*/
}
.switch:hover{
  -webkit-filter: grayscale(90%);
z-index: -99px;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}
.thumb-district{
  margin-top:-15px;
  font-size:25px;
  font-family:'Knockout';
  letter-spacing:.3px;
  color:rgb(109,138,196);
}
.adams-pic{
  background-image:url("../images/adams.jpg");

}
.butterfield-pic{
  background-image:url("../images/butterfield.jpg");
}
.foxx-pic{
  background-image:url("../images/foxx.jpg");
}
.holding-pic{
  background-image:url("../images/holding.jpg");
  background-position:50% 10%;
}
.hudson-pic{
  background-image:url("../images/hudson.jpg");
}
.jones-pic{
  background-image:url("../images/jones.jpg");
}
.mchenry-pic{
  background-image:url("../images/mchenry.jpg");
  background-position:50% 10%;
}
.meadows-pic{
  background-image:url("../images/meadows.jpg");
  background-position:50% 50%;
}
.pittenger-pic{
  background-image:url("../images/pittenger.jpg");
  background-position:50% 50%;
}
.price-pic{
  background-image:url("../images/price.jpg");
}
.rouzer-pic{
  background-image:url("../images/rouzer.jpg");
}
.ellmers-pic{
  background-image:url("../images/ellmers.jpg");
}
.walker-pic{
  background-image:url("../images/walker.jpg");
  background-position:50% 50%;
}


/*dropdown menu*/
.dropwidth{
  width:200px;
}

/*name stylings*/
.republican{
  color:#E91D0E;
}
.democrat{
  color:#336699;
}
.subber{
color:black;
}

#descr-district{
  font-size:30px;
  font-family:'Gotham-Medium';
}
#descr-party{
  font-size:30px;
  font-family:'Gotham-Medium';
}
.rep-name{

}
.leg-list-title{
  font-family:'Knockout';
  font-size:35px;
  line-height:50px;
  display:inline;
  margin-bottom:100%;
}
.leg-list-col{
  margin-bottom:10px;
}

/*bootstrap mods*/

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
