

.char_name, .context_title{
  /*text-decoration:underline;*/
  text-decoration: none;
color: #111;
border-bottom: 2px solid #17807e;
-webkit-transition: all 0.25s;
-moz-transition: all 0.25s;
transition: all 0.25s;
}
/*.char_name::after{
  content: "";
      display: inline-block;
      width: 1em;
      height: 1em;
      overflow: hidden;
      position: relative;
      top: 0.125em;
      margin-left: 0.25em;
      background: #b5aa94 url(../images/nav-sprites-dark.min.svg?839185) -1px -395px no-repeat;
      border-radius: 100%;
      -webkit-transition: all 0.25s;
      -moz-transition: all 0.25s;
      transition: all 0.25s;*/
/*}*/

.card_img{
  height:0;
  width:550px;
  padding-left:15px;
  /*margin-bottom:20px;*/
  transition:all .3s;
}

.showHeight{
  height:100%;
  margin-bottom:20px;
}

.read_in_context{
  position: absolute;
  margin-top: 22px;
  margin-left: -172px;
  font-size: 15px;
  font-weight: bold;
  font-family: 'sans-serif';


}

#turf-battle{

  color: #111;
  border-bottom: 2px solid #17807e;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}

.highlight{
  background: rgba(255, 230, 0, 0.5);
padding: 3px 5px;
margin: -3px -5px;
line-height: 1.7;
border-radius: 5px;
display:inline;
}

#outline{
  border-left: 4px solid black;
  height: 1200px;
  position: absolute;
  margin-left: 59px;
  margin-top: 186px;
}
#outline ul li{
  width:40px;
}
